commands:
    01_textattack:
        command: 'source /var/app/venv/*/bin/activate && pip install --upgrade setuptools'
    02_textattack:
        command: 'git clone https://github.com/QData/TextAttack.git'
    03_textattack:
        command: 'source /var/app/venv/*/bin/activate && cd TextAttack && python setup.py'