body {
    font-family: 'Nunito';
}

label {
    color: rgb(87, 87, 87);
    font-size: small;
    margin: 0;
}

.customDataInput {
    width: 100%;
}

.navbarWhite {
    background-color: white!important;
}